<!DOCTYPE html>
<html lang="en">

<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="index.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>
  <div class="background">

    <!-- Split button -->
    <div class="style_container">
      <div class="row">
        <div class="col-md-3 col-md-offset-3">
          <div class="panel panel-default">
            <div class="panel-heading">
              <div class="panel-heading text-center">

                <!-- <div class="btn-group">
                <button type="button" class="btn btn-danger">Mrs. Fisher</button>
                <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="caret"></span>
                <span class="sr-only">Toggle Dropdown</span>
      </button>
                <ul class="dropdown-menu">
                  <li><a href="#">Action</a></li>
                  <li><a href="#">Another action</a></li>
                  <li><a href="#">Something else here</a></li>
                  <li role="separator" class="divider"></li>
                  <li><a href="#">Separated link</a></li>
                </ul>
              </div> -->
                <dropdown class="grade_dropdown">
                  <input id="toggle1" type="checkbox" checked>
                  <label for="toggle1" class="animate">Mrs. Fisher (English)<i class="fa fa-list float-right"></i></label>
                  <ul class="animate">
                    <li class="animate"><a href="../dropdown/about_6">About</a><i class="fa fa-code float-right"></i></li>
                    <li class="animate"><a href="../dropdown/homework_6_1">Homework</a><i class="fa fa-arrows-alt float-right"></i></li>
                    <li class="animate"><a href="../dropdown/solutions_6_1">Solutions</a><i class="fa fa-cog float-right"></i></li>
                  </ul>
                </dropdown>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-3">
          <div class="panel panel-default">
            <div class="panel-heading">
              <div class="panel-heading text-center">
                <!-- <div class="btn-group">
                <button type="button" class="btn btn-danger">Action</button>
                <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <span class="caret"></span>
        <span class="sr-only">Toggle Dropdown</span>
      </button>
                <ul class="dropdown-menu">
                  <li><a href="#">Action</a></li>
                  <li><a href="#">Another action</a></li>
                  <li><a href="#">Something else here</a></li>
                  <li role="separator" class="divider"></li>
                  <li><a href="#">Separated link</a></li>
                </ul>
              </div> -->
                <dropdown class="grade_dropdown">
                  <input id="toggle2" type="checkbox" checked>
                  <label for="toggle2" class="animate">Mr. Tokay (Math)<i class="fa fa-list float-right"></i></label>
                  <ul class="animate">
                    <li class="animate"><a href="../dropdown/about_6">About</a><i class="fa fa-code float-right"></i></li>
                    <li class="animate"><a href="../dropdown/homework_6_2">Homework</a><i class="fa fa-arrows-alt float-right"></i></li>
                    <li class="animate"><a href="../dropdown/solutions_6_2">Solutions</a><i class="fa fa-cog float-right"></i></li>
                  </ul>
                </dropdown>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-3 col-md-offset-3">
          <div class="panel panel-default">
            <div class="panel-heading">
              <div class="panel-heading text-center">
                <!-- <div class="btn-group">
                <button type="button" class="btn btn-danger">Action</button>
                <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <span class="caret"></span>
        <span class="sr-only">Toggle Dropdown</span>
      </button>
                <ul class="dropdown-menu">
                  <li><a href="#">Action</a></li>
                  <li><a href="#">Another action</a></li>
                  <li><a href="#">Something else here</a></li>
                  <li role="separator" class="divider"></li>
                  <li><a href="#">Separated link</a></li>
                </ul>
              </div> -->
                <dropdown class="grade_dropdown">
                  <input id="toggle3" type="checkbox" checked>
                  <label for="toggle3" class="animate">Mr. Chickie (Science)<i class="fa fa-list float-right"></i></label>
                  <ul class="animate">
                    <li class="animate"><a href="../dropdown/about_6">About</a><i class="fa fa-code float-right"></i></li>
                    <li class="animate"><a href="../dropdown/homework_6_3">Homework</a><i class="fa fa-arrows-alt float-right"></i></li>
                    <li class="animate"><a href="../dropdown/solutions_6_3">Solutions</a><i class="fa fa-cog float-right"></i></li>
                  </ul>
                </dropdown>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-3">
          <div class="panel panel-default">
            <div class="panel-heading">
              <div class="panel-heading text-center">
                <!-- <div class="btn-group">
                <button type="button" class="btn btn-danger">Action</button>
                <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <span class="caret"></span>
        <span class="sr-only">Toggle Dropdown</span>
      </button>
                <ul class="dropdown-menu">
                  <li><a href="#">Action</a></li>
                  <li><a href="#">Another action</a></li>
                  <li><a href="#">Something else here</a></li>
                  <li role="separator" class="divider"></li>
                  <li><a href="#">Separated link</a></li>
                </ul>
              </div> -->
                <dropdown class="grade_dropdown">
                  <input id="toggle4" type="checkbox" checked>
                  <label for="toggle4" class="animate">Mrs. Benson (History)<i class="fa fa-list float-right"></i></label>
                  <ul class="animate">
                    <li class="animate"><a href="../dropdown/about_6">About</a><i class="fa fa-code float-right"></i></li>
                    <li class="animate"><a href="../dropdown/homework_6_4">Homework</a><i class="fa fa-arrows-alt float-right"></i></li>
                    <li class="animate"><a href="../dropdown/solutions_6_4">Solutions</a><i class="fa fa-cog float-right"></i></li>
                  </ul>
                </dropdown>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</body>

</html>
