<h1>Editing Blog Post</h1>

<%= render 'form' %>

<br>

<%= link_to "Back", blog_post_path(@blog_post), class: "btn btn-default" %>

<%= link_to "All blog Posts", blog_post_path, class: "btn btn-default" %>
