// Place all the styles related to the Dropdown controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
/* Style the Image Used to Trigger the Modal */
.homework {
    border-style: solid;
    border-width: medium;
    border-radius: 25px;
  }
